.container {
  text-align: center;
  font-size: 2rem;
  font-family: Roboto, sans-serif;
}
#value {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.btn {
  background-color: transparent;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: rgb(50, 115, 220);
}
